In [63]:
import numpy as np
import pandas as pd

In [64]:
dataset = pd.read_csv('/Users/jatinchhabra/Desktop/SWIGGY ANALYSIS/2.DATASETS/swiggy.csv')

In [65]:
dataset.head()

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63

In [66]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8680 entries, 0 to 8679
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             8680 non-null   int64
 1   Area           8680 non-null   object
 2   City           8680 non-null   object
 3   Restaurant     8680 non-null   object
 4   Price          8680 non-null   float64
 5   Avg ratings    8680 non-null   float64
 6   Total ratings  8680 non-null   int64
 7   Food type      8680 non-null   object
 8   Address        8680 non-null   object
 9   Delivery time  8680 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 678.3+ KB

In [67]:
dataset.rename(columns={
    'Avg ratings' : 'avg_ratings',
    'Total ratings': 'total_ratings',
    'Food type': 'food_type',
    'Delivery time': 'delivery_time',
    'Price': 'price'                          
},inplace=True)

In [68]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63

In [69]:
dataset.isnull().sum()

ID               0
Area             0
City             0
Restaurant       0
price            0
avg_ratings      0
total_ratings    0
food_type        0
Address          0
delivery_time    0
dtype: int64

In [70]:
#### PHASE 2 --- FEATURE ENGINEERING 

## 1) PRICE RANGE 

def price_range(x):
    if x < 200:
        return "budget"
    elif x <= 400:
        return "mid range"
    else:
        return "premium"
    
dataset['Price_range'] = dataset['price'].apply(price_range)

In [71]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,mid range
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56,mid range
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50,premium
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,mid range
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,mid range

In [72]:
dataset['avg_ratings'].unique()

array([4.4, 4.1, 3.9, 4. , 4.5, 4.3, 4.2, 2.9, 3.8, 4.6, 3.7, 3.2, 2.2,
       3.6, 4.7, 3.5, 3. , 3.3, 3.4, 2.8, 4.8, 4.9, 2.6, 2.7, 3.1, 2.5,
       2.3, 5. , 2. , 2.4])

In [73]:
## 2) ratings feature 

def rating(r):
    if r <= 3:
        return "below avg rated"
    elif r > 3 and r <= 4:
        return "avg rated"
    else:
        return "High rated"
    
dataset['Rating_range'] = dataset['avg_ratings'].apply(rating)

In [74]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,mid range,High rated
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56,mid range,High rated
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50,premium,High rated
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,mid range,avg rated
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,mid range,avg rated

In [75]:
dataset['delivery_time'].unique()

array([ 59,  56,  50,  57,  63,  53,  55,  54,  48,  52,  90,  49,  58,
        64,  69,  60,  71,  72,  65,  66,  68,  67,  37,  39,  30,  36,
        34,  33,  44,  31,  35,  38,  76,  70,  73,  47,  42,  29,  46,
        51,  24,  25,  62,  27,  45,  43,  40,  61,  32,  75,  74,  84,
        80,  88,  77,  82,  41,  86,  78,  83,  81,  79,  85,  28,  93,
        87,  21,  89,  94,  97,  92,  95,  26,  91,  23,  98,  96, 109,
       100,  20,  22])

In [76]:
## 3) Delivery speed 

def speed(t):
    if t <= 40:
        return "Fast Delivery"
    elif t <= 55:
        return "Moderate"
    else:
        return "slow "
    
dataset['Delivery_range'] = dataset['delivery_time'].apply(speed)

In [77]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range,Delivery_range
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,mid range,High rated,slow
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56,mid range,High rated,slow
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50,premium,High rated,Moderate
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,mid range,avg rated,slow
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,mid range,avg rated,slow

In [78]:
## 4) Primary cusiness

# primary cuisine as first one
dataset['primary_cuisine'] = dataset['food_type'].str.split(',').str[0].str.strip()

In [79]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range,Delivery_range,primary_cuisine
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,mid range,High rated,slow,Biryani
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56,mid range,High rated,slow,Mughlai
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50,premium,High rated,Moderate,Chinese
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,mid range,avg rated,slow,North Indian
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,mid range,avg rated,slow,Rajasthani

In [80]:
### 6) number of cuisines offered
dataset['num_of_cuisines'] = dataset['food_type'].str.split(',').apply(len)

In [81]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range,Delivery_range,primary_cuisine,num_of_cuisines
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,mid range,High rated,slow,Biryani,4
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56,mid range,High rated,slow,Mughlai,2
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50,premium,High rated,Moderate,Chinese,1
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,mid range,avg rated,slow,North Indian,4
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,mid range,avg rated,slow,Rajasthani,8

In [82]:
### 7) popularity score --- no of total ratings * rating

dataset['popularity_scores'] = dataset['avg_ratings'] * np.log1p(dataset['total_ratings'])

In [83]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range,Delivery_range,primary_cuisine,num_of_cuisines,popularity_scores
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,mid range,High rated,slow,Biryani,4,20.306530
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56,mid range,High rated,slow,Mughlai,2,18.921994
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50,premium,High rated,Moderate,Chinese,1,20.306530
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,mid range,avg rated,slow,North Indian,4,24.244764
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,mid range,avg rated,slow,Rajasthani,8,15.727303

In [84]:
### PHASE 3 --- GIVING AND ANALYSING STRONG PREDICTIONS BASED ON OUR DATASET

### TOP 10 RESTRAUNTS BY POP_SCORE

top_restraunts = dataset.sort_values(['popularity_scores'],ascending=False).head(10)

In [85]:
top_restraunts

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range,Delivery_range,primary_cuisine,num_of_cuisines,popularity_scores
6431,3325,Sion,Mumbai,Guru Kripa (Sion West),300.0,4.5,5000,Fast Food,Sindhi Colony,42,mid range,High rated,Moderate,Fast Food,1,38.328269
90,4138,Koti,Hyderabad,Grand Hotel,300.0,4.1,10000,"Biryani,Tandoor,Chinese,Indian,Kebabs,Desserts",Abids Road,24,mid range,High rated,Fast Delivery,Biryani,6,37.762806
1819,131870,Kavadiguda,Hyderabad,4M Biryani House,250.0,4.1,10000,"Biryani,North Indian,Chinese",Nallakunta & Vidyanagar,41,mid range,High rated,Moderate,Biryani,3,37.762806
803,34634,Toli Chowki,Hyderabad,Shah Ghouse Cafe & Restaurant,350.0,4.0,10000,Biryani North Indian Chinese Mughlai Tandoor,Tolichowki,63,mid range,avg rated,slow,Biryani North Indian Chinese Mughlai Tandoor,1,36.841761
4069,367769,Chintal,Hyderabad,Lucky Restaurant,300.0,4.0,10000,"Biryani,Tandoor,Chinese,North Indian,Desserts,...",Banjara Hills,38,mid range,avg rated,Fast Delivery,Biryani,7,36.841761
126,5251,Kalighat,Kolkata,Bachan'S Dhaba,250.0,4.3,5000,"North Indian,Chinese",Near Kalighat Metro Rash Behari Avenue,61,mid range,High rated,slow,North Indian,2,36.624791
687,28961,Pitam Pura,Delhi,Gulab Wala,350.0,4.3,5000,"North Indian,Desserts,South Indian,Street Food...",Pitampura,46,mid range,High rated,Moderate,North Indian,8,36.624791
106,4650,New Nallakunta,Hyderabad,Bawarchi,300.0,3.9,10000,"Biryani,Tandoor,Chinese,Indian,Desserts,Kebabs...",Rtc X Roads,27,mid range,avg rated,Fast Delivery,Biryani,7,35.920717
95,4320,Narayanguda,Hyderabad,Mehfil,300.0,3.9,10000,"Biryani,Tandoor,Chinese,Indian,Kebabs,Desserts",Narayanguda,25,mid range,avg rated,Fast Delivery,Biryani,6,35.920717
2268,201164,Gopalapuram,Chennai,The Bowl Company,300.0,4.2,5000,"Continental,North Indian,Pan-Asian,Desserts,Am...",Royapettah,55,mid range,High rated,Moderate,Continental,23,35.773051

In [86]:
## 2) best value for money restaurants ( less price , high rating)

best_value = dataset[dataset['avg_ratings'] >= 4.0].sort_values('popularity_scores', ascending=False).head(10)

In [87]:
best_value

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range,Delivery_range,primary_cuisine,num_of_cuisines,popularity_scores
6431,3325,Sion,Mumbai,Guru Kripa (Sion West),300.0,4.5,5000,Fast Food,Sindhi Colony,42,mid range,High rated,Moderate,Fast Food,1,38.328269
90,4138,Koti,Hyderabad,Grand Hotel,300.0,4.1,10000,"Biryani,Tandoor,Chinese,Indian,Kebabs,Desserts",Abids Road,24,mid range,High rated,Fast Delivery,Biryani,6,37.762806
1819,131870,Kavadiguda,Hyderabad,4M Biryani House,250.0,4.1,10000,"Biryani,North Indian,Chinese",Nallakunta & Vidyanagar,41,mid range,High rated,Moderate,Biryani,3,37.762806
803,34634,Toli Chowki,Hyderabad,Shah Ghouse Cafe & Restaurant,350.0,4.0,10000,Biryani North Indian Chinese Mughlai Tandoor,Tolichowki,63,mid range,avg rated,slow,Biryani North Indian Chinese Mughlai Tandoor,1,36.841761
4069,367769,Chintal,Hyderabad,Lucky Restaurant,300.0,4.0,10000,"Biryani,Tandoor,Chinese,North Indian,Desserts,...",Banjara Hills,38,mid range,avg rated,Fast Delivery,Biryani,7,36.841761
687,28961,Pitam Pura,Delhi,Gulab Wala,350.0,4.3,5000,"North Indian,Desserts,South Indian,Street Food...",Pitampura,46,mid range,High rated,Moderate,North Indian,8,36.624791
126,5251,Kalighat,Kolkata,Bachan'S Dhaba,250.0,4.3,5000,"North Indian,Chinese",Near Kalighat Metro Rash Behari Avenue,61,mid range,High rated,slow,North Indian,2,36.624791
2268,201164,Gopalapuram,Chennai,The Bowl Company,300.0,4.2,5000,"Continental,North Indian,Pan-Asian,Desserts,Am...",Royapettah,55,mid range,High rated,Moderate,Continental,23,35.773051
614,25251,Punjagutta,Hyderabad,Meridian Restaurant,400.0,4.1,5000,"Biryani,Chinese,North Indian,Kebabs",Panjagutta Main Road,53,mid range,High rated,Moderate,Biryani,4,34.921312
23,1590,Banjara Hills,Hyderabad,Sarvi Restaurant,400.0,4.1,5000,"Biryani,Tandoor,Chinese,Indian,Desserts,Kebabs...",Road 11,56,mid range,High rated,slow,Biryani,7,34.921312

In [88]:
dataset['popularity_scores'].unique()

array([20.30653027, 18.92199412, 24.24476379, 15.72730253, 20.76804233,
       27.97472745, 19.84501822, 24.8664244 , 26.73140623, 19.38350617,
       12.74390255, 29.01677007, 17.53745796, 25.48808501, 34.921312  ,
       18.46048207, 26.10974562, 16.12048509, 27.35306684, 27.63501912,
       29.70764555, 28.3258946 , 21.22955438, 16.90685022, 12.78699424,
       15.33411997, 17.99897002, 31.08939651, 14.54775484, 37.7628055 ,
       23.00144257, 26.94414364, 26.25326816, 35.92071743, 30.39852103,
        9.7424718 ,  6.69794936, 16.61443386, 12.48254199, 29.21804868,
       32.47114746, 36.62479064, 23.62310318, 17.69321535, 13.70035097,
       17.30003278, 11.87363751, 12.17808975, 17.07594591, 21.69106643,
       25.56239268, 11.56918526, 16.51366766, 10.65582853, 13.09144648,
       11.26473302, 13.39589873, 14.9409374 , 10.96028078, 22.37978196,
       18.47958047, 33.21783337,  9.13356731, 15.22989771, 13.76138971,
       12.58184202, 14.15457228, 34.06957269, 18.08639791, 13.36820715,
       23.48976625, 36.84176147, 28.59638806, 16.15292181,  8.52466283,
       10.35137629, 14.6137077 , 14.00480321, 11.40229433, 14.91815994,
       14.30925546, 22.15257848, 32.36609405, 15.69140976, 14.76838565,
        7.91575834, 12.97502459, 24.18064173,  8.22021058, 10.04692404,
       18.87276304, 13.84536155, 10.61592921, 12.18865946, 11.7954769 ,
        9.43801956, 14.3068736 , 21.13646074, 13.3838495 , 35.77305132,
        8.82911507,  7.61130609, 31.78027198,  7.00240161, 24.87151721,
       15.22261219,  6.08904488,  8.65001639, 19.65912816, 38.32826927,
       21.75812135,  7.30685385, 29.83970929])

In [89]:
def pop_bracet(score):
    if score > 25.000:
        return "High Popularity"
    elif score > 10 and score < 24.99:
        return "Medium Popularity"
    else:
        return "Less popularity"

dataset['Pop_bracket'] = dataset['popularity_scores'].apply(pop_bracet)

In [90]:
dataset.head()

,ID,Area,City,Restaurant,price,avg_ratings,total_ratings,food_type,Address,delivery_time,Price_range,Rating_range,Delivery_range,primary_cuisine,num_of_cuisines,popularity_scores,Pop_bracket
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,mid range,High rated,slow,Biryani,4,20.306530,Medium Popularity
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56,mid range,High rated,slow,Mughlai,2,18.921994,Medium Popularity
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50,premium,High rated,Moderate,Chinese,1,20.306530,Medium Popularity
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,mid range,avg rated,slow,North Indian,4,24.244764,Medium Popularity
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,mid range,avg rated,slow,Rajasthani,8,15.727303,Medium Popularity

In [91]:
dataset.to_csv('/Users/jatinchhabra/Desktop/SWIGGY ANALYSIS/5. FINAL DATASET/final.csv')

In [92]:
dataset['City'].unique()

array(['Bangalore', 'Hyderabad', 'Mumbai', 'Pune', 'Kolkata', 'Delhi',
       'Chennai', 'Ahmedabad', 'Surat'], dtype=object)